.charge-hover:hover {
  background-color: #c5d0e6;
}

.charge-active {
  background-color: #adc9ff;
}

.mt-1 {
  margin-top: 10px;
}

.output {
  overflow-y: scroll;
  /* border: #adc9ff solid 1px; */
  border-radius: 3px;
  height: 200px;
}
